{% extends 'app.twig' %}

{% block content %}
	{% set choices = ['city', 'town', 'pub', 'restaurant', 'hotel', 'shops'] %}
	<main id="listings">
		<div id="results">
			<div class="container">
				<div class="row search-header">
					<div class="col-lg-3 col-md-4 col-10 d-flex align-items-center">
						<h4 class="m-0">
							<strong>6</strong>
							results found
						</h4>
					</div>
					<div class="col-lg-9 col-md-8 col-2">
						<a href="#0" class="side_panel btn_search_mobile"></a>
						<!-- /open search panel -->
						<form class="poi-search">

							<div class="row no-gutters">
								<div class="col-lg-4">
									<div class="form-group">
										<div class="input-group mb-3">
											<input type="text" class="form-control" placeholder="What are you looking for..." id="what">
											<div class="input-group-append">
												<span class="input-group-text border-right-0 border">
													<i class="fas fa-search"></i>
												</span>
											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-4">
									<div class="form-group">
										<div class="input-group mb-3">
											<input type="text" class="form-control" value="{{ region | capitalize }}" placeholder=" Where" id="where">

											<div class="input-group-append">
												<span class="input-group-text border-right-0 border">
													<i class="fas fa-map-marker-alt"></i>
												</span>
											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-3">
									<div class="form-group">
										<select name="cars" class="form-control" id="categories">
											{% for choice in choices %}

												{% if choice == category %}
													<option selected>{{ category|capitalize }}</option>
												{% else %}
													<option>{{ choice|capitalize }}</option>
												{% endif %}

											{% endfor %}
										</select>
									</div>
								</div>

								<div class="col-lg-1">
									<button type="button" id="ajax-search"class="btn btn-theme btn-block">
										<i class="fas fa-search"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- /row -->
			</div>


			<!-- /container -->
		</div>


		<div class="filters-listing sticky_horizontal">
			<div class="container">
				<ul class="clearfix">
					<li>
						<div class="switch-field">
							<input type="radio" id="all" name="filter-all" value="all" checked="">
							<label for="all">All</label>
							<input type="radio" id="popular" name="filter-popular" value="popular">
							<label for="popular">Popular</label>
							<input type="radio" id="latest" name="filter-latest" value="latest">
							<label for="latest">Latest</label>
						</div>
					</li>
					<li>
						<div class="layout-view">
							<a href="#">
								<i class="fas fa-th"></i>
							</a>
							<a href="#">
								<i class="fas fa-th-list"></i>
							</a>
							<a href="#">
								<i class="far fa-map"></i>
							</a>
						</div>
					</li>
					<li>
						<a class="btn_map">
							<i class="fas fa-map-marker-alt"></i>
							View on map</a>
					</li>
				</ul>
			</div>
			<!-- /container -->
		</div>

		<div class="container margin_60_35">
			<div class="row">
				<aside class="col-lg-3" id="sidebar">
					<div id="filters_col">
						<a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt">Filters
							<i class="fas fa-filter"></i>
						</a>
						<div class="collapse show" id="collapseFilters">
							<div class="filter_type">
								<h6>Category</h6>
								<ul>
									{% for choice in choices %}

										<li>
											<label class="container_check">
												{{ choice|capitalize }}
												<small>{{ random(50, 100) }}
												</small>
												{% if choice == category %}
													<input checked type="checkbox">
													<span class="checkmark"></span>
												{% else %}
													<input type="checkbox">
													<span class="checkmark"></span>
												{% endif %}
											</label>
										</li>

									{% endfor %}
								</ul>
							</div>
							<div class="filter_type">
								<h6>Distance</h6>
								<div class="distance">
									Radius around selected destination
									<span id="distance-value">30</span>
									km
								</div>
								<input type="range" min="10" max="100" step="10" value="30" data-orientation="horizontal">
							</div>
							<div class="filter_type">
								<h6>Rating</h6>
								<ul>
									<li>
										<label class="container_check">Superb 9+
											<small>34</small>
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
									</li>
									<li>
										<label class="container_check">Very Good 8+
											<small>21</small>
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
									</li>
									<li>
										<label class="container_check">Good 7+
											<small>15</small>
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
									</li>
									<li>
										<label class="container_check">Pleasant 6+
											<small>34</small>
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
									</li>
								</ul>
							</div>
						</div>
						<!--/collapse -->
					</div>
				</aside>
				<!-- /aside -->

				<div class="col-lg-9">

		
					<div class="row" id="search-results">
						{% for poi in pois %}
							<div class="col-md-6">
								<div class="strip grid">
									<figure>
										<a href="#" class="wish_bt">
											<i id="bookmark-icon" class="far fa-bookmark"></i>
										</a>
										<a href="{{ url_for('discover.detail', {'poi': poi.name}) }}">

											<img src="{{ poi.image }}" alt="">
											<div class="read_more">
												<span>Read more</span>
											</div>
										</a>
										<small>{{ poi.type|e }}</small>

									</figure>

									<div class="wrapper">
										<h3>
											<a href="{{ url_for('discover.detail', {'poi': poi.name}) }}">{{ poi.name|e }}</a>

										</h3>
										<small>27 Old Gloucester St</small>
										<p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis</p>
										<a href="https://www.google.com/maps/?q={{ poi.name|e }}" target="_blank" class="address mr-4">
											<i class="far fa-compass"></i>
											Get directions
										</a>

										<a href="#" class="address">
											<i class="fas fa-thumbs-up"></i>
											<b>
												<span id="{{ poi.ID }}">{{ poi.recommended }}</span>
												Likes</b>
										</a>

									</div>
									<ul>
										<li>
											<input type="hidden" name="poi-id" value="{{ poi.ID|e }}">
											<button type="button" class="btn btn-primary btn-sm ajax-recommend" data-id="{{ poi.ID }}">
												<i class="fas fa-thumbs-up"></i>
												Recommend
											</button>
										</li>
										<li>
											<div class="score">
												<span>Superb<em>350 Reviews</em>
												</span>

												{% if(poi.rating) %}
													<strong>{{ poi.rating|e }}</strong>
												{% endif %}
											</div>
										</li>
									</ul>


								</div>
							</div>
						{% endfor %}

					</div>					
				
					<div id="loader">
						<img src="{{ PUBLIC_PATH }}/images/spinner.svg">
					</div>
					<!-- /row -->
				</div>
				<!-- /col -->
			</div>
		</div>

	</main>

{% endblock %}

{% block js %}
	<script>
		$(document).ready(function(){
			$(".navbar").addClass("bg-custom");
			$(".navbar").addClass("navbar-light");
			$('#poi-logo').attr('src', '{{ PUBLIC_PATH }}/images/logo/blue.png');

			// AJAX search JSON
			$("#ajax-search").click(function(){
				var region = $("#where").val().toLowerCase();
				$("#where").val(region);
				if(region){
					history.pushState(null, null, `{{ url_for('discover.region', {'region': '${region}'}) }}`);

					if($("#search-results").html() != ''){
						$("#search-results").empty();
					}
					$.ajax({
						url: `{{ url_for('api.region', {'region': '${region}'}) }}`,
						type: "GET",
						dataType: "JSON",
						beforeSend: function() {
							$("#loader").show();
						},
						complete: function(){
							$("#loader").hide();
						},
						success: function(pois) {
							$("#loader").hide();
							$("#search-results").empty();

							$.each(pois, function(index, poi) {
								$("#search-results").append(`
									<div class="col-md-6">
										<div class="strip grid">
											<figure>
												<a href="#" class="wish_bt">
													<i id="bookmark-icon" class="far fa-bookmark"></i>
												</a>
												<a href="{{ url_for('discover.detail', {'poi': '${poi.name}'}) }}">

													<img src="${poi.image}" alt="">
													<div class="read_more">
														<span>Read more</span>
													</div>
												</a>
												<small>${poi.type}</small>

											</figure>

											<div class="wrapper">
												<h3>
													<a href="{{ url_for('discover.detail', {'poi': '${poi.name}'}) }}">${poi.name}</a>

												</h3>
												<small>27 Old Gloucester St</small>
												<p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis</p>
												<a href="https://www.google.com/maps/?q=${poi.name}" target="_blank" class="address mr-4">
													<i class="far fa-compass"></i>
													Get directions
												</a>

												<a href="#" class="address">
													<i class="fas fa-thumbs-up"></i>
													<b>
														<span id="${poi.ID}">${poi.recommended }</span>
														Likes</b>
												</a>

											</div>
											<ul>
												<li>
													<input type="hidden" name="poi-id" value="${poi.ID}">
													<button type="button" class="btn btn-primary btn-sm ajax-recommend" data-id="${poi.ID}">
														<i class="fas fa-thumbs-up"></i>
														Recommend
													</button>
												</li>
												<li>
													<div class="score">
														<span>Superb<em>350 Reviews</em>
														</span>
													</div>
												</li>
											</ul>


										</div>
									</div>

								`);
							});
						}
					});
				}
			});

			// AJAX search HTML
			$("#ajax-change").click(function(){
				var region = $("#where").val().toLowerCase();
				$("#where").val(region);
				if(region){
					history.pushState(null, null, `{{ url_for('discover.region', {'region': '${region}'}) }}`);

					$.ajax({
						url: `{{ url_for('discover.region', {'region': '${region}'}) }}`,
						type: "GET",
						dataType: "HTML",
						beforeSend: function() {
							$("#loader").show();
						},
						complete: function(){
							$("#loader").hide();
						},
						success: function(response) {
							$("#loader").hide();
							$("#search-results").html(response);
						}
					});
				}
			});

			// AJAX recommend a poi
			$(document).on("click", ".ajax-recommend", function(e) {
				let id = $(this).attr("data-id");
            	let likes = parseInt($(`#${id}`).text());

            	$(`#${id}`).text(likes + 1);

				$.ajax({
					url: `{{ url_for('poi.recommend') }}`,
					type: "POST",
					data: {
						"poi-id": id
					},
					success: function (data) {
						$(this).removeClass("btn-primary");
						$(this).addClass("btn-success");
						$(this).text("Recommended");
						$(this).prop('disabled', true);
					}.bind(this)
				});
        	});
		});
	</script>
{% endblock %}
